:root {
      // button colors
      --btn-purple: #5865f2;
      --btn-red: #d31027;
      // background colors
      --darkblue-bg: #0e0d10;
      --card-bg: #131319;
      --gradient-red: linear-gradient(90deg, #d31027 0%, #ea384d 100%);
}
